// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  //sizes
  $title: 35px;
  $pd: 40px;
  $pdb: (40-16) + px;

  //<!--header start-->
  header {
    nav {
      ul {
        li {
          margin-left: auto;
        }
      }
    }
  }

  .cusbtn {
    padding: 6px 38px 6px 38px !important;
  }
  //<!--header end-->

  //<!--banner start-->
  .banner {
    padding: 100px 0;
  }

  .banner_wrapper {
    h1 {
      font-size: 36px;
    }

    p {
      font-size: 16px;
    }

    button {
      margin-top: 15px;
      padding: 6px 40px;
      font-size: 15px;
    }
  }

  //<!--banner end-->
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  //sizes
  $title: 35px;
  $pd: 50px;
  $pdb: (50-16) + px;

  //<!--header start-->
  header {
    nav {
      ul {
        li {
          margin-left: auto;
        }
      }
    }
  }

  .cusbtn {
    padding: 6px 38px 6px 38px !important;
  }
  //<!--header end-->

  //<!--banner start-->
  .banner {
    padding: 100px 0;
  }

  .banner_wrapper {
    h1 {
      font-size: 36px;
    }

    p {
      font-size: 16px;
    }

    button {
      margin-top: 15px;
      padding: 6px 40px;
      font-size: 15px;
    }
  }

  //<!--banner end-->

  //<!--good start-->
  .good {
    padding-top: $pd;
    padding-bottom: $pdb;
  }

  // .good_wrapper1 {
  //   h4 {
  //     margin-top: 40px;
  //     font-size: $title;
  //   }

  //   p {
  //     font-size: 16px;
  //   }

  //   hr {
  //     width: 150px;
  //   }
  // }

  .good_wrapper2 {
  }

  .good_wrapper2-1 {
    // margin-left: 40px;
    // margin-top: -110px;

    // img {
    //   margin-right: 10px;
    // }

    // h5 {
    //   margin-top: 40px;
    //   font-size: 20px;
    // }

    p {
      // margin-top: 25px;
      font-size: 15px;
      line-height: 27px;
    }
  }
  //<!--good end-->
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  //sizes
  $title: 35px;
  $pd: 60px;
  $pdb: (60-16) + px;

  //<!--header start-->
  header {
    nav {
      ul {
        li {
          margin-left: auto;
        }
      }
    }
  }

  .cusbtn {
    padding: 6px 38px 6px 38px !important;
  }
  //<!--header end-->

  //<!--banner start-->
  .banner {
    padding: 100px 0;
  }

  .banner_wrapper {
    h1 {
      font-size: 41px;
    }

    p {
      font-size: 16px;
    }

    button {
      margin-top: 15px;
      padding: 6px 40px;
      font-size: 16px;
    }
  }

  //<!--banner end-->

  //<!--good start-->
  .good {
    padding-top: $pd;
    padding-bottom: $pdb;
  }

  // .good_wrapper1 {
  //   h4 {
  //     margin-top: 40px;
  //     font-size: $title;
  //   }

  //   p {
  //     font-size: 16px;
  //   }

  //   hr {
  //     width: 150px;
  //   }
  // }

  .good_wrapper2 {
  }

  .good_wrapper2-1 {
    // margin-left: 40px;
    // margin-top: -110px;

    // img {
    //   margin-right: 10px;
    // }

    // h5 {
    // margin-top: 32px;
    //   font-size: 20px;
    // }

    p {
      margin-top: 20px;
      font-size: 15px;
      line-height: 27px;
    }
  }
  //<!--good end-->
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  //sizes
  $title: 35px;
  $pd: 70px;
  $pdb: (70-16) + px;
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
