// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  //sizes
  $title: 35px;
  $pd: 40px;

  //<!--header start-->
  header {
    nav {
      ul {
        li {
          margin-left: auto;
        }
      }
    }
  }

  .cusbtn {
    padding: 6px 38px 6px 38px !important;
  }
  //<!--header end-->

  //<!--banner start-->
  .banner {
    padding: 100px 0;
  }

  .banner_wrapper {
    h1 {
      font-size: 36px;
    }

    p {
      font-size: 16px;
    }

    button {
      margin-top: 15px;
      padding: 6px 40px;
      font-size: 15px;
    }
  }

  //<!--banner end-->

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  //sizes
  $title: 35px;
  $pd: 50px;

  //<!--header start-->
  header {
    nav {
      ul {
        li {
          margin-left: auto;
        }
      }
    }
  }

  .cusbtn {
    padding: 6px 38px 6px 38px !important;
  }
  //<!--header end-->

  //<!--banner start-->
  .banner {
    padding: 100px 0;
  }

  .banner_wrapper {
    h1 {
      font-size: 36px;
    }

    p {
      font-size: 16px;
    }

    button {
      margin-top: 15px;
      padding: 6px 40px;
      font-size: 15px;
    }
  }

  //<!--banner end-->

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  //sizes
  $title: 35px;
  $pd: 60px;


  //<!--header start-->
  header {
    nav {
      ul {
        li {
          margin-left: auto;
        }
      }
    }
  }

  .cusbtn {
    padding: 6px 38px 6px 38px !important;
  }
  //<!--header end-->

  //<!--banner start-->
  .banner {
    padding: 100px 0;
  }

  .banner_wrapper {
    h1 {
      font-size: 41px;
    }

    p {
      font-size: 16px;
    }

    button {
      margin-top: 15px;
      padding: 6px 40px;
      font-size: 16px;
    }
  }

  //<!--banner end-->

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  //sizes
  $title: 35px;
  $pd: 70px;

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
