//variables
//===================
//colors
$bgc1: #19283f;
$bgc2: #eff7fa;
$bgc3: #ffc400;

$orange: $bgc3;
$red: #ff3150;
$aqua: #00c7c0;
$title2: #a8b9c0;

//sizes
$title: 35px;
$pd: 10px;

//styles
//global start
body {
  font-family: 'Roboto', sans-serif;
}

//global end

//<!--header start-->
header {
  background-color: $bgc1;
  padding: 10px 0;

  nav {
    ul {
      margin-top: 15px;

      li {
        margin: 0 11px;

        a {
          color: $title2 !important;
        }
      }
    }
  }
}

.aq {
  color: $aqua !important;
}

.cusbtn {
  border: none;
  padding: 6px 38px 6px 38px !important;
  color: $orange !important;
  background-color: $red;
  border-radius: 15px;
}

//<!--header end-->

//<!--banner start-->
.banner {
  padding: 100px 0;
  background-color: $bgc1;
}

.banner_wrapper {
  h1 {
    font-size: 51px;
    color: #f0f8fb;
    font-weight: 300;
  }

  p {
    font-size: 16px;
    color: $title2;
  }

  button {
    margin-top: 15px;
    margin-bottom: 30px;
    border: none;
    border-radius: 20px;
    background-color: $red;
    color: $orange;
    padding: 6px 40px;
    cursor: pointer;
  }
}

//<!--banner end-->

//<!--good start-->
.good {
}

//<!--good end-->

//<!--make start-->
.make {
}

//<!--make end-->

//<!--about start-->
.about {
}

//<!--about end-->

//<!--team start-->
.team {
}

//<!--team end-->

//<!--customar start-->
.customer {
}

//<!--customar end-->

//<!--project start-->
.project {
}

//<!--project end-->

//<!--blog start-->
.blog {
}

//<!--blog end-->

//<!--newsletter start-->
.newletter {
}

//<!--newsletter end-->

//<!--footer start-->
footer {
}

//<!--footer end-->