//variables
//===================
//colors
$bgc1: #19283f;
$bgc2: #eff7fa;
$bgc3: #ffc400;

$orange: $bgc3;
$red: #ff3150;
$aqua: #00c7c0;
$title2: #a8b9c0;

//sizes
$title: 35px;
$pd: 70px;
$pdb: (70-16) + px;

//styles
//global start

a, a:hover, a:focus {
  text-decoration: none;
}

.mjh {
  background-color: #00c6bf !important;

  h5 {
    color: white;
  }

  p {
    color: #1a2940 !important;
  }
}

.mhv {
  background-color: $red !important;
  cursor: pointer;

  a {
    color: $orange !important;
  }
}

.aq {
  color: $aqua !important;
}

body {
  font-family: "Roboto", sans-serif;
}

hr {
  background-color: $aqua;
  width: 150px;
}

.jqb {
  color: white !important;
}

//global end

//<!--header start-->
header {
  background-color: $bgc1;
  padding: 10px 0;

  nav {
    ul {
      margin-top: 15px;

      li {
        margin: 0 11px;
        color: $title2;

        a {
          color: $title2 !important;
        }
      }
    }
  }
}


.cusmt {
  margin-top: 8px;
}


.cusbtn {
  border: none;
  padding: 6px 38px 6px 38px !important;
  color: $orange !important;
  background-color: $red;
  border-radius: 15px;
}

.btn2 {
  color: $title2;
  margin-top: 3px;
  background: none;

  &:after {
    content: none;
  }
}

//<!--header end-->

//<!--banner start-->
.banner {
  padding: 100px 0;
  background-color: $bgc1;
}

.banner_wrapper {
  h1 {
    font-size: 51px;
    color: #f0f8fb;
    font-weight: 300;
  }

  p {
    font-size: 16px;
    color: $title2;
  }

  button {
    margin-top: 15px;
    margin-bottom: 30px;
    border: none;
    border-radius: 20px;
    background-color: $red;
    color: $orange;
    padding: 6px 40px;
    cursor: pointer;
  }
}

//<!--banner end-->

//<!--good start-->
.good {
  padding-top: $pd;
  padding-bottom: $pdb;
}

.good_wrapper1 {
  h4 {
    margin-top: 40px;
    font-size: $title;
    color: #1a2940;
  }

  p {
    font-size: 16px;
    color: $title2;
  }
}

.one {
  padding: 150px 0;
  background: url("../images/one.png") no-repeat center;
}

.two {
  padding: 150px 0;
  background: url("../images/two.png") no-repeat center;
}

.three {
  padding: 150px 0;
  background: url("../images/three.png") no-repeat center;
}

.good_wrapper2-1 {
  margin-left: 40px;
  margin-top: -110px;

  img {
    margin-right: 25px;
  }

  h5 {
    margin-top: 40px;
    font-size: 20px;
    color: #ffc501;
  }

  p {
    margin-top: 25px;
    font-size: 16px;
    line-height: 30px;
    color: $title2;
  }
}

//<!--good end-->

//<!--make start-->
.make {
  padding: $pd 0;
  background-color: $bgc2;
}

.make_wrapper1 {
  h4 {
    margin-top: 40px;
    font-size: $title;
    color: #1a2940;
  }

  p {
    font-size: 16px;
    color: $title2;
  }

  ul {
    margin-top: 80px;

    li {
      margin: 0 40px;
      padding: 10px 20px;
      border-radius: 10px;

      a {
        font-size: 15px;
        color: $title2;
      }
    }
  }
}

.make_wrapper2 {
  padding: 80px 50px (80-16) + px 50px;
  background-color: #fff;

  h5 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
    color: #1a2940;
  }
}

.make_wrapper3 {
  margin-top: 80px;

  button {
    border: none;
    border-radius: 20px;
    background-color: $red;
    color: $orange;
    padding: 6px 50px;
    cursor: pointer;
    font-size: 16px;
  }
}

//<!--make end-->

//<!--about start-->
.about {
  padding-top: $pd;
}

.about_wrapper1 {
  h4 {
    margin-top: 40px;
    font-size: $title;
    color: #1a2940;
  }

  p {
    font-size: 16px;
    color: $title2;

    &:last-of-type {
      font-weight: 300;
      margin-top: 20px;
    }
  }
}

.about_wrapper2 {
  margin-top: 45px;

  h4 {
    margin-bottom: 20px;
    margin-left: 5px;
    font-size: $title;
    color: #1a2940;
  }

  p {
    color: $title2;
    font-weight: 300;
    font-size: 15px;
  }

  button {
    margin-top: 5px;
    border: none;
    border-radius: 20px;
    background-color: $red;
    color: $orange;
    padding: 6px 50px;
    cursor: pointer;
    font-size: 16px;
  }
}

//<!--about end-->

//<!--team start-->
.team {
  padding: $pd 0;
  background-color: $bgc2;
}

.team_wrapper1 {
  h4 {
    font-size: $title;
    color: $orange;
  }

  p {
    color: $title2;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 70px;
  }
}

.team_wrapper2 {
  text-align: center;
  //background-color: white;
  background-color: $bgc2;

  h5 {
    margin-bottom: 0;
    font-size: 20px;
    color: #ffffff;
    background-color: #00c6bf;
    display: block;
    padding: 15px 0;
  }

  p {
    font-size: 15px;
    color: $title2;
    background-color: white;
    margin-bottom: 0 !important;
  }

  img {
    height: 350px;
  }
}

.py1 {
  padding: 30px 20px;
}

.py2 {
  padding: 19px 20px;
}

//<!--team end-->

//<!--customar start-->
.customer {
  padding: $pd 0;
}

//<!--customar end-->

//<!--project start-->
.project {
  padding: $pd 0;
  background-color: $bgc1;
}

.project_wrapper1 {
  padding: 20px 0;

  h4 {
    color: #ffffff;
    font-size: $title;
  }

  p {
    font-size: 15px;
    color: $title2;
  }

  button {
    margin-top: 25px;
    border: none;
    border-radius: 21px;
    background-color: $red;
    color: $orange;
    padding: 6px 40px;
    cursor: pointer;
  }
}

//<!--project end-->

//<!--blog start-->
.blog {
  padding: $pd 0;
}

.blog_wrapper1 {
  h4 {
    margin-top: 40px;
    font-size: $title;
    color: #1a2940;
  }

  p {
    font-size: 16px;
    color: $title2;
  }
}

.blog_wrapper2 {
  margin-top: 35px;

  img {
  }

  p {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 14px;
    color: $title2;
  }

  h6 {
    font-size: 20px;
    color: #1a2940;
  }
}

.blog_wrapper3 {
  margin-top: 30px;

  button {
    margin-top: 25px;
    border: none;
    border-radius: 21px;
    background-color: $red;
    color: $orange;
    padding: 6px 40px;
    cursor: pointer;
  }
}

//<!--blog end-->

//<!--newsletter start-->
.newletter {
  padding: 40px 0;
  background-color: $bgc3;
}

.newsletter_wrapper {
  p {
    margin-bottom: 0;
    font-size: 20px;
    color: #1a2940;
  }

  input {
    border: none;
    border-bottom: 1px solid #eff7fa;
    background: none;
    width: 100%;
    padding-bottom: 5px;
  }

  button {
    border: none;
    border-radius: 20px;
    background-color: #19283f;
    color: #ffc501;
    padding: 6px 38px;
    cursor: pointer;
  }

  ::placeholder {
    font-size: 15px;
    color: #f0f8fb;
  }
}

//<!--newsletter end-->

//<!--footer start-->
footer {
  padding: $pd 0;
  background-color: $bgc1;
}

.footer_wrapper1 {
  img {
  }

  p {
    font-size: 13px;
    line-height: 30px;
    color: $title2;
    margin-bottom: 0;

    span {
      color: #ffc501;
    }
  }
}

.footer_wrapper2,
.footer_wrapper3 {
  ul {
    padding-left: 0;

    li {
      margin-top: 15px;

      &:first-of-type {
        margin-top: 0;

        a {
          color: #f0f8fb;
          font-size: 15px;
        }
      }

      a {
        font-size: 13px;
        color: $title2;
      }
    }
  }
}

.footer_wrapper3 {
  margin-left: 0;
}

.footer_wrapper4 {
  p {
    font-size: 13px;
    line-height: 30px;
    color: $title2;

    &:first-of-type {

      font-size: 15px;
      color: #f0f8fb;
    }
  }

  button {
    margin: 30px 0;
    width: 100%;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: $red;
    padding: 6px 38px;
    cursor: pointer;
  }

  ul {
    li {
      margin-right: 7px !important;
      padding: 5px 15px;
      border-radius: 50%;

      i {
        color: white;
      }
    }
  }
}

.fb {
  background-color: #347cd2;
}

.tw {
  background-color: #1ec4ff;
}

.gp {
  background-color: #ff4032;
}

.db {
  background-color: #ff3298;
}

//<!--footer end-->
