//variables
//===================
//colors
$bgc1: #19283f;
$bgc2: #eff7fa;
$bgc3: #ffc400;

$orange: $bgc3;
$red: #ff3150;
$aqua: #00c7c0;
$title2: #a8b9c0;

//sizes
$title: 35px;
$pd: 70px;
$pdb: (70-16)+px;

//styles
//global start
body {
  font-family: 'Roboto', sans-serif;
}

hr {
  background-color: $aqua;
}

//global end

//<!--header start-->
header {
  background-color: $bgc1;
  padding: 10px 0;

  nav {
    ul {
      margin-top: 15px;

      li {
        margin: 0 11px;

        a {
          color: $title2 !important;
        }
      }
    }
  }
}

.aq {
  color: $aqua !important;
}

.cusbtn {
  border: none;
  padding: 6px 38px 6px 38px !important;
  color: $orange !important;
  background-color: $red;
  border-radius: 15px;
}

//<!--header end-->

//<!--banner start-->
.banner {
  padding: 100px 0;
  background-color: $bgc1;
}

.banner_wrapper {
  h1 {
    font-size: 51px;
    color: #f0f8fb;
    font-weight: 300;
  }

  p {
    font-size: 16px;
    color: $title2;
  }

  button {
    margin-top: 15px;
    margin-bottom: 30px;
    border: none;
    border-radius: 20px;
    background-color: $red;
    color: $orange;
    padding: 6px 40px;
    cursor: pointer;
  }
}

//<!--banner end-->

//<!--good start-->
.good {
  padding-top: $pd;
  padding-bottom: $pdb;
}

.good_wrapper1 {
  h4 {
    margin-top: 40px;
    font-size: $title;
    color: #1a2940;
  }

  p {
    font-size: 16px;
    color: $title2;
  }

  hr {
    width: 150px;
  }
}

.one {
  padding: 150px 0;
  background: url("../images/one.png") no-repeat center;
}
.two{
  padding: 150px 0;
  background: url("../images/two.png") no-repeat center;
}
.three{
  padding: 150px 0;
  background: url("../images/three.png") no-repeat center;
}

.good_wrapper2-1 {
  margin-left: 40px;
  margin-top: -110px;

  img {
    margin-right: 25px;
  }

  h5 {
    margin-top: 40px;
    font-size: 20px;
    color: #ffc501;
  }

  p {
    margin-top: 25px;
    font-size: 16px;
    line-height: 30px;
    color: $title2;
    font-family: "Roboto";
  }
}


//<!--good end-->

//<!--make start-->
.make {}

//<!--make end-->

//<!--about start-->
.about {}

//<!--about end-->

//<!--team start-->
.team {}

//<!--team end-->

//<!--customar start-->
.customer {}

//<!--customar end-->

//<!--project start-->
.project {}

//<!--project end-->

//<!--blog start-->
.blog {}

//<!--blog end-->

//<!--newsletter start-->
.newletter {}

//<!--newsletter end-->

//<!--footer start-->
footer {}

//<!--footer end-->